/* Chat Contents */

.theme-light .content-yTz4x3, .theme-light .noChannel-Z1DQK7 {
	background: var(--main-background) !important;
}

/* Text Entry Box */

.theme-light .inner-zqa7da {
    background-color: var(--sub-background) !important;
}

/* Header */

.theme-light .container-1r6BKw {
	background-color: var(--main-background) !important;
}

/* Chat Text */

.theme-light .markup-2BOw-j {
	color: var(--font-color) !important;
}