/* Better Japanese Font */

#app-mount body,
#app-mount .channel-textarea-inner textarea {
  /* you can change this to whatever japanese font you prefer */
  /* The last option is for Japanese fonts */
  font-family: 'Source Code Pro', 'Meiryo', sans-serif;
}

#app-mount .channel-members .member .member-username,
#friends .username {
  /* looks better than meiryo on the member list */
  /* The last option is for Japanese fonts */
  font-family: 'Source Code Pro', 'Kozuka Gothic Pro', sans-serif;
}

/* Discord Titlebar colour fix */

#app-mount .titleBar-AC4pGV {
  background-color: #202225;
}

/* BETTER EMOTES */

/* Emote Server List */

#app-mount .emojiImage-1hZi2F {
  height: 3rem;
  width: 3rem;
}

/* Changes default Emote height/width without a message attached */

#app-mount .emoji.jumboable {
  height: 2.5rem;
  width: 2.5rem;
}

/* Changes the emote height/width when used in a message */

#app-mount .emoji {
  height: 2rem;
  width: 2rem;
}

/* Reaction emote fix */

#app-mount .reaction-1ELvT8 .emoji {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

/* Font Fix for the Emotes + easier readability */

#app-mount .markup-2BOw-j {
  font-size: 1.063rem;
  line-height: 1.3;
}

/* Links in Chats */

#app-mount .markup-2BOw-j a {
  color: var(--url-color) !important;
}

/* Gif Embeds in Chat */

#app-mount .embedVideo-3nf0O9 {
  border: solid 5px #2F3136;
  border-bottom: solid 10px #2F3136;
}

/* Gif Tag */
#app-mount .gifTag-31zFY8 {
  display: none !important;
}

/* Better timestamp colour */

#app-mount .timestampCozy-2hLAPV {
  color: rgba(255, 255, 255, 0.7);
}

/* Text Entry  */

#app-mount .textArea-2Spzkt {
  font-size: 1.063rem;
  line-height: 1.3;
}

/* Gift Nitro Button */

#app-mount .buttonWrapper-1ZmCpA[tabindex="2"] {
  display: var(--gift-nitro-button);
}

/* Gif Button */

#app-mount .buttonWrapper-1ZmCpA[tabindex="3"] {
  display: var(--gif-button);
}

/* better embed descriptions */

#app-mount .embedDescription-1Cuq9a {
  font-size: 0.9375rem;
}

#app-mount .embedAuthorName-3mnTWj,
#app-mount .embedFieldName-NFrena,
#app-mount .embedTitle-3OXDkz {
  font-size: 1rem;
}

/* Removes Attach file button + Divider */

#app-mount .attachButton-1UjEWA,
#app-mount .attachButtonDivider-3Glu60 {
  display: none;
}

/* random divider */

#app-mount .children-19S4PO:after {
  display: none;
}

/* Removes the 'Send message to @user' placeholder for chat input */

#app-mount .textArea-2Spzkt::-webkit-input-placeholder {
  color: transparent;
}

/* Removes Search Placeholder */

#app-mount .search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root {
  display: none;
}

/* KNOWN BUG CAUSES USER LIST TO VANISH */

/* Removes all the # icons */

/* These do nothing but make discord look stupid */

#app-mount .icon-1_QxNX {
  display: none;
}

/* Removes VC options at the bottom left */

/* Probably comment/delete this line out if you use VC on discord */

#app-mount .iconButton-3V4WS5 {
  display: var(--display-vc-options)
}

/* Removes the AKA badge at the top of DMs */

#app-mount .akaBadge-1M-1Gw {
  display: none;
}

/* Discord Home Button */

#app-mount .button-OhfaWu {
  background-color: none;
}

/* Emoji Reaction + Submenu */

#app-mount .buttonContainer-KtQ8wc {
  display: none;
}

/* Dark theme emote menu, do your job discord */

#app-mount .emojiPicker-3m1S-j,
#app-mount .emojiPicker-3m1S-j .stickyHeader-1SS0JU {
  background: #2F3136;
  background-color: #2F3136;
  border: none;
}

/* Emoticon hover background */

#app-mount .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
  background-color: transparent;
}

/* emote menu search bar  inner */

#app-mount .inner-3ErfOT {
  background: #202225;
}

/* Discord chat message divider */

#app-mount .containerCozy-jafyvG .divider-32i8lo {
  display: none;
}

/* Discord Profile protip footer (small) */

#app-mount .protip-YaFfgO,
#app-mount .footer-1fjuF6 {
  display: none;
}

/* Discord Profile Background (large) */

#app-mount .header-QKLPzZ {
  background-color: rgba(0,0,0,.05)
}

/* Discord Profile Mutual Bar (large) */

#app-mount .tabBarContainer-1s1u-z {
  border: none;
}

/* Discord Profile Background (small) */

#app-mount .headerNormal-T_seeN {
  background-color: #7289DA;
}

/* Discord Profile Body (small) */

#app-mount .body-3iLsc4 {
  padding: 12px 10px 0px;
}

/* Discord Profile "view profile" text on pfp hover (small) */

#app-mount .avatarHintInner-Dco91E {
  display: none;
}

/* Discord Profile Send Message Button" */

#app-mount .lookFilled-1Gx00P.colorGreen-29iAKY {
  color: #7289DA;
  background-color: white;
}

/* Discord Profile Send Message Button Inverted */

#app-mount .lookInverted-2D7oAl.colorGreen-29iAKY {
  color: #7289DA;
  background-color: #fff;
}

#app-mount .lookFilled-1Gx00P.colorGreen-29iAKY:hover {
  color: #7289DA;
  background-color: hsla(0, 0%, 100%, .6);
}

/* Discord Profile Notes */

#app-mount .note-3kmerW textarea {
  height: 40px !important;
}

/* Discord Profile Body */

#app-mount .body-3ND3kc {
  height: 300px;
}

/* Discord Profile Connected Accounts */

#app-mount .connectedAccounts-repVzS {
  margin-top: -50px;
}

/* Discord Profile random border above accounts */

#app-mount .userInfoSection-2acyCx+.userInfoSection-2acyCx {
  border-top: none;
}

/* Discord Profile Mobile Icon */

#app-mount .mobileIndicatorPrimary-2viufb,
#app-mount .mobileIndicator-32N6Qx {
  color: hsla(0, 0%, 100%, .6);
}

/* Discord Profile Status */

/* Might need to remove this
I can't decide on a style/placement for this thing */

#app-mount .statusProfile-3ynqtt {
  display: none;
}

/* Friends List (Video, Voice call & Remove Button) */

#app-mount .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M {
  display: none;
}

/* Online Status */

#app-mount .online-2S838R {
    background-color: var(--online-status);
}

/* Away Status */

#app-mount .idle-3DEnRT {
  background-color: var(--away-status);
}

/* Busy Status */

#app-mount .dnd-1_xrcq {
  background-color: var(--busy-status);
}

#app-mount .invisible-1kp8Z0,#app-mount .offline-3qoTek,#app-mount .unknown-Ms2zdV {
    background-color: var(--offline-status);
}

/* Flat Status Bar */

#app-mount .avatarSmall-3ACRaI .status-2zcSVk,
#app-mount .statusStatic-3QpK4G,
#app-mount .status-2s6iDp {
  width: 44px;
  height: 44px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  border-radius: 7.5%;
}

/* Flat Status Bar */

/* Discord Profile Mutual Friends Status */

/* Could probably use some fixing, this ID doesn't feel right */

/* DOES NOT WORK */

#app-mount .online-2S838R.status-oxiHuE.da-online.da-status.large-3ChYtB.da-large,
#app-mount .offline-3qoTek.status-oxiHuE.da-offline.da-status.large-3ChYtB.da-large {
  width: 10px;
  height: 10px;
  right: 0;
}

/* Flat "User is Typing" Status Bar */

#app-mount .typing-1KJk_j {
  width: 40px !important;
  height: 40px !important;
  right: -5px !important;
  bottom: -5px !important;
  z-index: 1 !important;
  border-radius: 7.5% !important;
  border: solid 3px lightgrey;
  background-color: rgba(0,0,0,0.4);
} 

/* Flat "User is Typing" Status Bar Dots . . . */

#app-mount .pulsingEllipsisItem-32hhWL,
#app-mount .pulsingEllipsisItem,
#app-mount .typingSpinnerItem-35chrT,
#app-mount .typingSpinnerItem {
  z-index: 3 !important;
}

/* Palse Position */

#app-mount .pulsingEllipsis-3YiXRF {
    left: 10%;
}

/* Last message divider date */

#app-mount .dividerContent-2L12VI {
  display: none;
}

/* Owner Crown */

#app-mount .ownerIcon-uZ6mE7 {
  display: none;
}

/* Channel */

#app-mount .content-3at_AU {
  cursor: default;
}

/* Channel Name */

#app-mount .name-3_Dsmg {
  font-size: var(--min-font-size);
}

/* Channel Selected */

#app-mount .wrapper-1ucjTd.modeSelected-1zApJ_ {
  cursor: default;
  right: 4%;
  margin-right: -4%;
  background: -webkit-linear-gradient(left, #45DDC0, lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Category Name */

#app-mount .name-IbjUBS {
  font-size: 13px;
}

/* Category Name */

#app-mount .clickable-18m--O {
  cursor: default;
}

/* Category Collapse > */

#app-mount .icon-WnO6o2 {
  display: none;
}

/* Dicord Friendslist Names + Friends Button */

#app-mount .name-2WpE7M {
  font-size: var(--min-font-size);
}

/* Member List */

#app-mount .username-1cB_5E {
  font-size: var(--min-font-size);
}

/* Account Details Username (bottom left) */

#app-mount .accountDetails-3k9g4n .username {
  font-size: var(--min-font-size);
}

/* Account Details Discriminator (bottom left) */

#app-mount .accountDetails-3k9g4n .discriminator {
  font-size: 12px;
}

/* Channel Avatar Size */

#app-mount .svg-1X37T1,
#app-mount .wrapper-25eVIn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
}

/* Removes Discord Watermark */

#app-mount .wordmark-2iDDfm {
  display: none !important;
}

/* Discord Titlebar */

#app-mount .typeWindows-1za-n7 {
  height: 20px !important;
  margin-top: 10px !important;
}

/* Discord Friends DM */

#app-mount .channel-2QD9_O {
  font-size: 14px;
  padding-top: 10px;
  height: 50px !important;
  cursor: default !important;
}

/* Discord Friends Close DM */

#app-mount .app-2rEoOp button {
    cursor: default;
}

/* Direct Message Avatars  */

#app-mount .avatarSmall-3ACRaI {
  z-index: 1;
  height: 38px;
  width: 38px;
}

/* Direct Messages Header */

#app-mount .privateChannels-1nO12o header {
  font-size: 14px;
}

/* Direct Messages (Selected, Hover) */

#app-mount .channel-2QD9_O.selected-1HYmZZ a,
#app-mount .channel-2QD9_O:hover a {
  cursor: default;
  height: 48px;
  margin-left: 0%;
}

/* Server Member List */

#app-mount .members-1998pB {
  z-index: 3 !important;
}

/* Server Member List Avatars */

#app-mount .image-33JSyf.small-5Os1Bb.mask-3OgeRz {
  background-color: #2F3136;
  height: 38px;
  width: 38px;
  z-index: 1 !important;
}

/* Server Member List Status */

#app-mount .status-2s6iDp {
  margin-right: -8px;
  margin-bottom: -8px;
  border-radius: 7.5%;
}

/* Server Memberlist Avatars */

#app-mount .image-33JSyf.da-image.small-5Os1Bb.da-small {
  height: 38px;
  width: 38px;
}

/* Server Memberlist User Hover */

#app-mount .member-3W1lQa:hover .content-OzHfo4 {
  background-color: transparent !important;
  color: #fff;
  cursor: default;
}

/* Server Member List Avatar */

#app-mount .member-3W1lQa {
  cursor: default;
  height: 52px;
}

/* Server Member List Avatar Wrapper */

#app-mount .avatarWrapper-3B0ndJ {
  margin-right: 20px;
}

/* GUILDS LIST */

/* Guilds Server Error */

#app-mount .acronym-2mOFsV,
#app-mount .wrapper-1BJsBx {
  cursor: default;
}

#app-mount .guildsError-b7zR5H {
  background: #292b2f;
  color: #f04747;
  border: none;
  cursor: default;
}

/* Guilds New & Search */

#app-mount .circleIconButton-jET_ig {
  cursor: default;
}

/* Guilds Server Error Hover */

#app-mount .guildsError-b7zR5H:hover {
  background: #f04747;
  color: #fff;
  border: none;
  cursor: default;
}

/* Guids Divider */

#app-mount .guildSeparator-3s64Iy {
  display: none;
}

/* Guilds Unread Messages Notification */

#app-mount .unreadMentionsIndicatorBottom-BXS58x {
  display: none;
}

/* USER SETTINGS */

/* Email Address (blur) */

#app-mount .standardSidebarView-3F1I7i .payment-info .description-3_Ncsb,
#app-mount .standardSidebarView-3F1I7i .paymentSourceRow-3FbcL_ .subText-V8PTt8,
#app-mount .standardSidebarView-3F1I7i .userSettingsAccount-2eMFVR div:nth-child(2)>div:nth-child(2)>.viewBody-2Qz-jg {
  transition: all 200ms cubic-bezier(.550, .085, .680, .530);
  filter: blur(8px);
}

#app-mount .standardSidebarView-3F1I7i .payment-info .description-3_Ncsb:hover,
#app-mount .standardSidebarView-3F1I7i .paymentSourceRow-3FbcL_ .subText-V8PTt8:hover,
#app-mount .standardSidebarView-3F1I7i .userSettingsAccount-2eMFVR div:nth-child(2)>div:nth-child(2)>.viewBody-2Qz-jg:hover {
  transition: all 200ms cubic-bezier(.550, .085, .680, .530);
  filter: none;
}

/* Avatar Buttons */

#app-mount .button-38aScr.da-button.lookFilled-1Gx00P.colorGreen-29iAKY.sizeSmall-2cSMqn.grow-q77ONN.da-grow {
  color: #fff;
  background-color: #7289da;
}

/* Gif Favourite Button */

.gifFavoriteButton-1gYkEU,
.gifFavoriteButton-2UvP3Q,
.gifFavoriteButton-1gYkEU:hover,
.gifFavoriteButton-2UvP3Q:hover {
  color:transparent;
}

/* Embed Image & Video */
/* Minimum size to match Emotes */

.embedImage-2W1cML img,
.embedImage-2W1cML video,
.embedThumbnail-2Y84-K img,
.embedThumbnail-2Y84-K video,
.embedVideo-3nf0O9 img,
.embedVideo-3nf0O9 video {
  display: block;
  min-width: 40px;
  min-height: 40px;
}

/* Titlebar # icon */
.theme-dark .icon-22AiRD {
  color: #36393F;
}

/* Titlebar name */
#app-mount .title-29uC1r {
  margin-left: -38px;
  z-index: 3;
  font-size: var(--min-font-size);
}

/* Titlebar Buttons 1 */

.theme-dark .selected-1GqIat .icon-22AiRD, .theme-dark .selected-1GqIat:hover .icon-22AiRD {
  color: #B9BBBE!important;
}

/* Titlebar Buttons 2 */

.theme-dark .clickable-3rdHwn:hover .icon-22AiRD {
  color: #fff!important;
}

/* Titlebar Username(channel name) | Nickname(info) Dividier */
#app-mount .divider-3FBTu8 {
  display: none;
}

/* "upload avatar" icon */

#app-mount .avatarUploaderIndicator-2G-aIZ {
  display: none;
}
























/*

    TEST FEATURES
    I will properly add this stuff later

*/


/* Custom Server Banner */
/* edit url("https://imgur.com/qp6j2M4.gif") */
/* Add whatever Gif/Image you want, should be a decent size but no bigger than 240 pixels */

/* Known Bug = Servers with an existing banner have a weird gap between the banner and channels */

#app-mount .container-2Rl01u {
    cursor: default;
    background-image: linear-gradient(rgba(54, 57, 63, 0) 0%, rgb(47, 49, 54) 100%), url("https://imgur.com/qp6j2M4.gif")!important;
    background-repeat: no-repeat;
    background-size: 240px;
    padding-bottom: 200px;
}

#app-mount .bannerImage-1jOskm,
#app-mount .bannerImage-1jOskm:after {
    background-image: none!important;
}


/* Bigger Emote Menu */

/* slightly broken */

#app-mount .emojiPicker-3m1S-j .scroller-3vODG7 {
  height: 320px;
}

#app-mount .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 40px;
  text-align: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2px 0 2px 4px;
  cursor: default;
}

#app-mount .emojiPicker-3m1S-j .scroller-3vODG7 .row-3j9Kuo {
  height: 40px;
}

/* Chat Avatars */

:root {
  --chatPfpSize: 48px;
}

.container-1YxwTf .wrapper-2F3Zv8 {
  margin-top: 0;
  width: var(--chatPfpSize);
  height: var(--chatPfpSize);
}

.container-1YxwTf .image-33JSyf {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border: 1px solid #2f3136;
}

.contentCozy-3XX413 {
  margin-left: calc(40px + var(--chatPfpSize));
}

.container-1YxwTf {
  min-height: var(--chatPfpSize);
  box-sizing: content-box;
}

.containerCozy-jafyvG {
  margin: 0;
  padding: 20px 0;
}

.container-1YxwTf .divider-32i8lo {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.container-3-pyIM .icon-2Po-VO,
.container-3-pyIM .content-2M3n_H {
  /* remove this for PFPs smaller than 40px */
  transform: translate(0, calc(var(--chatPfpSize) / 2 - 20px));
}

.image-33JSyf,
.wrapper-2F3Zv8 {
  border-radius: 7.5%;
}

.root-3-B5F3 {
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.root-3-B5F3::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.root-3-B5F3::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: move;
  background-color: rgba(32, 34, 37, .6);
}

.root-3-B5F3::-webkit-scrollbar-track {
  border-width: initial;
  background-color: transparent;
  border: 2px solid transparent;
}

.root-3-B5F3::-webkit-scrollbar-thumb,
.root-3-B5F3::-webkit-scrollbar-track {
  background-clip: padding-box;
  border-radius: 7.5px;
  border-style: solid;
  border-width: 3px;
  visibility: hidden;
}

.root-3-B5F3:hover::-webkit-scrollbar-thumb,
.root-3-B5F3:hover::-webkit-scrollbar-track {
  visibility: visible;
}

/* Roundness */

#app-mount [mask*="url"],
#app-mount .mask-3OgeRz,
#app-mount .partyMembers-2HCFEF,
#app-mount .partyMember-2q4Jxq,
#app-mount .maskProfile-1ObLFT,
#app-mount .mask-3OgeRz {
  -webkit-mask: none;
  mask: none;
  border-radius: none;
}

#app-mount .wrapper-25eVIn,
#app-mount .wrapper-1Rf91z .svg-1X37T1,
#app-mount .tabBadge-3smxHS,
#app-mount .wrapper-232cHJ,
#app-mount .avatarDefault-35WC3R,
#app-mount .avatarSpeaking-1wJCNq,
#app-mount .avatarUploaderInner-3UNxY3,
#app-mount .circleIconButton-jET_ig,
#app-mount .guildsError-b7zR5H,
#app-mount .image-33JSyf,
#app-mount .base-PmTxvP,
#app-mount .wrapper-2F3Zv8,
#app-mount .image-33JSyf,
#app-mount .avatarSmall-3ACRaI,
#app-mount .inner-1W0Bkn,
#app-mount .partyMembers-2HCFEF,
#app-mount .partyMemberOverflow-1tfvpb,
#app-mount .maskProfile-1ObLFT,
#app-mount .mask-3OgeRz {
  border-radius: 7.5% !important;
}

/* Transparent Scrollbars */

.bda-dark .emoji-picker .scroller::-webkit-scrollbar,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #pubs-container .scroller::-webkit-scrollbar,
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track,
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,
.da-emojiPicker .da-scrollerWrap .da-scroller::-webkit-scrollbar,
.da-emojiPicker .da-scrollerWrap .da-scroller::-webkit-scrollbar-track,
.da-emojiPicker .da-scrollerWrap .da-scroller::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
  border-color: transparent !important;
}

.da-scroller::-webkit-scrollbar-thumb,
.da-scrollerWrap::-webkit-scrollbar-thumb,
.da-emojiPicker .da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb {
  background-color: #202225 !important;
  border-color: transparent !important;
}

.da-scroller::-webkit-scrollbar-track,
.da-scrollerWrap::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.da-scroller::-webkit-scrollbar-track-piece,
.da-scrollerWrap::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
  border-color: transparent !important;
}

/*
#app-mount .container-1e22Ot {
    padding-right: 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.imageWrapper-2p5ogY {
    display: block;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    overflow: hidden;
    border-radius: 3px;
    padding-right: 8px;
}*/