/* Better Japanese Font */

#app-mount body,
#app-mount .channel-textarea-inner textarea {
  /* you can change this to whatever japanese font you prefer */
  /* The last option is for Japanese fonts */
  font-family: 'Source Code Pro', 'Meiryo', sans-serif;
}

#app-mount .channel-members .member .member-username,
#friends .username {
  /* looks better than meiryo on the member list */
  /* The last option is for Japanese fonts */
  font-family: 'Source Code Pro', 'Kozuka Gothic Pro', sans-serif;
}

/* Discord Titlebar colour fix */
#app-mount .titleBar-AC4pGV {
	background-color: #202225;
}

/* Better Emote Sizes, do your job discord.  */
#app-mount .emoji.jumboable {
  /* Changes default Emote height/width without a message attached, change to whatever you prefer*/
  height: 40px;
  width: 40px;
}

/* Changes the emote height/width when used in a message, change to whatever you prefer */
#app-mount .emoji {
  height: 1.9rem;
  width: 1.9rem;
}

/* Reaction emote fix */
.reaction-1ELvT8 .emoji {
    width: 1.3rem !important;
    height: 1.3rem !important;
}

/* Font Fix for the Emotes + easier readability */
#app-mount .markup-2BOw-j {
/* can change to whatever font-size you prefer */
  font-size: 17px;
  line-height: 1.3;
}

/* Username in chats */
#app-mount .headerCozy-2N9HOL {
	font-size: 17px;
}

/* Text Entry  */
#app-mount .textArea-2Spzkt {
	font-size: 17px;
  	line-height: 1.3;
}

/* better embed descriptions */
#app-mount .embedDescription-1Cuq9a {
	font-size: 15px;
}

#app-mount .embedAuthorName-3mnTWj, #app-mount .embedFieldName-NFrena, #app-mount .embedTitle-3OXDkz {
	font-size: 16px;
}

/* Removes Attach file button + Divider */
#app-mount .attachButton-1UjEWA, #app-mount .attachButtonDivider-3Glu60 {
	display: none;
}

/* random divider */
#app-mount .children-19S4PO:after {
	display: none;
}

/* Removes the 'Send message to @user' placeholder for chat input */
#app-mount .textArea-2Spzkt::-webkit-input-placeholder {
	color:transparent;
}

/* Removes Search Placeholder */
#app-mount .search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root {
	display: none;
}

/* KNOWN BUG CAUSES USER LIST TO VANISH */ 
/* Removes all the # icons */
/* These do nothing but make discord look stupid */
#app-mount .icon-1_QxNX {
	display: none;
}

/* Removes VC options at the bottom left */
/* Probably comment/delete this line out if you use VC on discord */
#app-mount .iconButton-3V4WS5 {
	display:none!important;
}

/* Removes the AKA badge at the top of DMs */
#app-mount .akaBadge-1M-1Gw {
	display: none;
}

/* Discord Home Button */
#app-mount .button-OhfaWu {
	background-color: none;
}

/* Emoji Reaction + Submenu */
#app-mount .buttonContainer-KtQ8wc {
	display: none;
}
